html, body {
  text-align: center;
  background: url("https://images.unsplash.com/photo-1644944824154-14632760bc1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
  width: 100%;
}
li {
  margin-top: 10px;
  border: 1px solid rgb(189, 188, 188);
  padding: 1em;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

input[type=text] {
  border: 3px solid rgb(243, 243, 243);
  border-radius: 5px;
  height: 40px;
  width: 50%;
  margin: 4px 10px;
  cursor: pointer;
}

label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 30px;
  color: red;
}

button[type=submit] {
  margin-right: 10px;
  width: 80px;
  height: 40px;
}






