.App {
  text-align: center;
}

ul {
  list-style-type: none;
  width: 100%;
}
li {
  margin-top: 10px;
  border: 1px solid rgb(189, 188, 188);
  padding: 1em;
}

input[type=text] {
  border: 1px solid rgb(105, 20, 20);
  border-radius: 5px;
  height: 40px;
  width: 50%;
  margin: 4px 10px;
  cursor: pointer;
}

label {
  font-weight: bold;
  margin-right: 20px;
  font-size: 30px;
  color: red;
}

button[type=submit] {
  margin-right: 10px;
  width: 80px;
  height: 40px;
}






